header{
    background-color: rgb(52, 100, 190);
}

h1{
    color: white;
    font-style: italic;
    font-weight: lighter;
    display: inline-block;
    position: relative;
    bottom: 35px;
}

header div img{
    width: 100px;
    padding-top: 20px;
}
