/* font-family: 'PT Sans Narrow', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: rgb(52, 100, 190);
}

img{
    width: 100px;
}

h1{
    color: white;
    font-style: italic;
    font-weight: lighter;
    display: inline-block;
    position: relative;
    bottom: 35px;
}

nav{
    background-color: rgb(146, 199, 240);
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}